<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Gogoair">
	
	<test name="Amazon Test" preserve-order="true">
		<classes>
			<class name="com.amazon.qa.testcases.AmazonHomePageTest"></class>
			<class name="com.amazon.qa.testcases.BooksContentPageTest"></class>
		</classes>
	</test>
	
</suite>